---
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="TrackMate"
	description="Un monitor de la salud que te motiva en todo momento"
>
	<main>
		<HeroSection />
		<section class="relative min-h-screen flex flex-col items-center [mask-image:linear-gradient(transparent,black_15%)]">
			<div class="absolute inset-0 flex w-full gap-10">
				<div
					class="basis-2/3 h-full bg-[linear-gradient(to_top,rgba(0,0,0,0.7),rgba(0,0,0,0)),url('/images/index/info-person.jpg')] bg-no-repeat bg-cover bg-center"
				>
				</div>
				<div
					class="basis-1/3 h-full bg-[linear-gradient(to_top,rgba(0,0,0,0.7),rgba(0,0,0,0)),url('/images/index/info-bg.png')] bg-no-repeat bg-cover bg-center"
				>
				</div>
			</div>
			<div class="relative z-10">
				<div>
					<img src="" alt="" />
					<h2 class="mt-10 text-3xl text-center">
						MONITOREAR EL ENTRENAMIENTO
					</h2>
				</div>
				<p>Afina tu rutina con números exactos en tu ejercicio</p>
				<p>
					Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es
					fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu
					contenido y cambiar la fuente.
				</p>
			</div>
		</section>
	</main>
</Layout>
