---
import Image from "astro/components/Image.astro";
import HeroSection from "../components/HeroSection.astro";
import InfoSection from "../components/InfoSection.astro";
import Layout from "../layouts/Layout.astro";
import ParallaxSection from "../components/ParallaxSection.astro";
import StyleSection from "../components/StyleSection.astro";
import AdviceSection from "../components/AdviceSection.astro";
---

<Layout
	title="TrackMate"
	description="Un monitor de la salud que te motiva en todo momento"
>
	<main>
		<HeroSection />
		<InfoSection />
		<AdviceSection />
		<StyleSection />
		<ParallaxSection />
		<section class="min-h-dvh">
			<h2>
				0.4 TrackMate XE Especificaciones
			</h2>
		</section>
	</main>
</Layout>
