---
import Header from "../components/Header.astro";
import "../styles/global.css";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="bg-[#222323]">
		<Header />
		<slot />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		list-style: none;
	}

	html {
		color-scheme: light dark;
	}

	@font-face {
		font-family: "poppins-extralight";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/poppins_extralight/h3r77AwDsldr1E_2g4qqGPk_vArhqVIZ0nv9q090hN8.woff2")
			format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "poppins-extralight";
		font-style: italic;
		font-weight: 700;
		src: url("/fonts/poppins_extralight/Fm41upUVp7KTKUZhL0PfQVtXRa8TVwTICgirnJhmVJw.woff2")
			format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "poppins-extralight";
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/poppins_extralight/rijG6I_IOXJjsH07UEo2mw.woff2")
			format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "poppins-extralight";
		font-style: italic;
		font-weight: 400;
		src: url("/fonts/poppins_extralight/-GlaWpWcSgdVagNuOGuFKRUOjZSKWg4xBWp_C_qQx0o.woff2")
			format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "poppins";
		font-style: italic;
		font-weight: 700;
		src: url("/fonts/poppins/pxiDyp8kv8JHgFVrJJLmy15VGdeOYktMqlap.woff2")
			format("woff2");
		unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
			U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
		font-display: swap;
	}

	@font-face {
		font-family: "poppins";
		font-style: italic;
		font-weight: 400;
		src: url("/fonts/poppins/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2")
			format("woff2");
		unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
			U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
		font-display: swap;
	}

	@font-face {
		font-family: "poppins";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/poppins/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2")
			format("woff2");
		unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
			U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
		font-display: swap;
	}

	@font-face {
		font-family: "poppins";
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/poppins/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2")
			format("woff2");
		unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
			U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
		font-display: swap;
	}

	@font-face {
		font-family: "poppins";
		font-style: italic;
		font-weight: 700;
		src: url("/fonts/poppins/pxiDyp8kv8JHgFVrJJLmy15VF9eOYktMqg.woff2")
			format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
			U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
			U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		font-display: swap;
	}

	@font-face {
		font-family: "poppins";
		font-style: italic;
		font-weight: 400;
		src: url("/fonts/poppins/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2")
			format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
			U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
			U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		font-display: swap;
	}

	@font-face {
		font-family: "poppins";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/poppins/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2") format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
			U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
			U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		font-display: swap;
	}

	@font-face {
		font-family: "poppins";
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/poppins/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2")
			format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
			U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
			U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		font-display: swap;
	}

	@font-face {
		font-family: "questrial";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/questrial/QdVUSTchPBm7nuUeVf70viFluW44JQ.woff2")
			format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
			U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
			U+2215, U+FEFF, U+FFFD;
		font-display: swap;
	}
</style>
